<!doctype html>
<html>
    <head>
        <title>Quarantino</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="mainmenu" class="ui secondary pointing menu">
            <div class="ui container">
                <a class="item" href="/">Quarantino</a>
                {% for link, page_title in context.pages.items() %}
                <a class="item {% if link == context.active_page %}active{% endif %}" href="{{ link }}">{{ page_title }}</a>
                {% endfor %}
                <button class="ui button">
                    Anmeldung
                </button>
            </div>
        </div>
        <div id="content" class="ui main container">
            {% block content %}{% endblock %}
        </div>
        <div id="footer" class="ui vertical footer segment">
            Nice footer
            {% block footer %}
            {% endblock %}
        </div>
    </body>
</html>
